<!DOCTYPE html>
<html lang="en">
    <head></head>

    <body>
        <h2>Owners</h2>
        <ul>
            <% @owners.each do |owner| %>
                <li><%= owner.name %></li>
            <% end %>
        </ul>
    </body>
</html>